@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
:root {
    --card-w: 200px;
    --card-h: 300px;
    --theme-col-a: rgb(226, 156, 213);
    --theme-col-b: rgb(143, 217, 207);
    --element-col: white;
    --title-col: rgb(74, 74, 74);
    --desc-col: gray;
    --faint-col: rgb(204, 204, 204);
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
body {
    background-color: var(--theme-col-a)
}
h1 {
    font-size: 2.5rem;
    color: var(--element-col);
    padding: 16px 0px;
}
h2 {
    font-size: 1.5rem;
    color: var(--title-col);
}
h3, label {
    font-size: 1rem;
    color: var(--desc-col);
}
button {
    border: 0;
    border-radius: 4px;
    padding: 8px 16px;
    color: var(--element-col);
    background-image: linear-gradient(to right, var(--theme-col-a) , var(--theme-col-b));
    flex: 1;
}
.read-btn {
    background-image: none;
    background-color: var(--faint-col);
    transition: 0.5s;
}
.read-btn.true {
    background-image: linear-gradient(to right, var(--theme-col-a) , var(--theme-col-b));
}
form {
    background-color: var(--element-col);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    position: relative;
}
input {
    border: none;
    color: var(--element-col);
    background-image: linear-gradient(to right, var(--theme-col-a) , var(--theme-col-b));
    border-radius: 4px;
    padding: 4px 8px;
}
input:focus {
    outline: none;
}
input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.close {
    position: absolute;
    right: 2px;
    top: 2px;
}
.read-switch {
    position: relative;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.switch {
    background-color: var(--faint-col);
    height: 24px;
    width: 48px;
    border-radius: 4px;
    transition: 0.2s;
}
input[type=checkbox]:checked + .switch {
    background-image: linear-gradient(to right, var(--theme-col-a) , var(--theme-col-b));
}
.switch::after {
    content: "";
    height: 20px;
    width: 20px;
    background-color: var(--element-col);
    border-radius: 4px;
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: 0.2s;
}
input[type=checkbox]:checked + .switch::after {
    left: 26px;
}
.overlay {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.delete, .close {
    width: 24px;
    height: 24px;
    filter: brightness(0.5);
}
.site {
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
    height: 100vh;
    background-image: linear-gradient(to bottom right, var(--theme-col-a) , var(--theme-col-b));
}
.pages {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: rgb(164, 164, 164);
}
.container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--card-w));
    gap: 32px;
    overflow: auto;
}
.card, .add-btn {
    width: var(--card-w);
    height: var(--card-h);
    border-radius: 8px;
}
.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    border: 4px dashed var(--element-col);
    color: var(--element-col);
    transition: 0.3s;
}
.add-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.card {
    background-color: var(--element-col);
    padding: 24px 24px;
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}
.footer {
    text-align: center;
    color: var(--element-col);
    padding: 24px 0px;
}
#numpg {
    width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}